<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/favicon.ico" rel="icon">

    <title>lava_frai's website</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/32206a1cbc.js" crossorigin="anonymous"></script>
    <link href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/timeline.css" rel="stylesheet">
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon">


    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lavafrai.ru/"/>
    <meta property="og:description"
          content="I'm just student from Moscow. I am interested in photography and programming.">
    <meta property="og:site_name" content="lavafrai.ru">
    <meta property="og:title" content="lava_frai's website"/>
    <meta property="og:image" content="/media/ruina-banner.png">
    <meta name="theme-color" content="#c77dff">
    <meta name="description" content="lavafrai.ru">
    <meta name="keywords" content="lavafrai, lava_frai, lava, freelancer, developer">
    <meta property="og:type" content="website">
</head>

<body>
<!-- HEADER -->
<section class="section-image" style="background-attachment: fixed;">
    <div class="img-overlay"></div>
    <div class="intro">
        <div class="row">
            <div class="col-md-12">
                <h5>Hello I'm</h5>

                <h1>lava_frai the developer</h1>

                <p class="intro-desc">
                    <span>C++</span> <span class="colour-splash">•</span>
                    <span>Java</span> <span class="colour-splash">•</span>
                    <span>Python</span>
                </p>
            </div>
            <!-- /col-md-12 -->
        </div>

        <div class="row" id="social-anchor"></div>
        <div class="row" id="social-header">
                <div class="social">
                    <a href="https://t.me/lavafrai_channel" target="_blank"><i class="fa-brands fa-telegram fa-3x"></i></a>
                    <a href="mailto:lavafrai@yandex.ru"><i class="fa-solid fa-envelope fa-3x"></i></a>
                    <a href="https://vk.com/lava_frai" target="_blank"><i class="fa-brands fa-vk fa-3x"></i></a>
                    <a href="https://discord.com/users/677933625802489889" target="_blank"><i
                            class="fa-brands fa-discord fa-3x"></i></a>
                    <a href="https://www.github.com/lavafrai" target="_blank"><i class="fa fa-github fa-3x"></i></a>
                </div><!-- /social -->
        </div><!-- /row -->


        <div class="bottom">
            <a href="#about">
                <div class="mouse-icon">
                    <div class="scroll">
                    </div>
                </div>
            </a>
        </div>
    </div><!-- /intro -->
</section>

<!-- ABOUT SECTION -->
<section class="section-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <i class="fa-solid fa-circle-info fa-3x"></i>

                <h2>About Me</h2>

                <hr>

                <p class="lead">
                    I am a student from Moscow, interested in photography and programming.
                    I have some experience in team leading and administration.
                    I studied at the Moscow Programming School and have developed several pet projects for self-study.
                    Currently,
                    I am studying at the Moscow Aviation Institute to further improve my skills and fundamental
                    knowledge.
                </p>
            </div><!-- /col-md-6 -->
        </div><!-- / row -->
    </div><!-- /container -->
</section>

<!-- SKILLS SECTION -->
<section class="section-image" id="skills">
    <div class="img-overlay"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading">
                <h2>Skills</h2>
                <p class="lead">A little more about my work skills in specific areas</p>
                <hr>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 text-center">
                <i class="fa-brands fa-python fa-4x"></i>

                <h2>Python</h2>

                <p>
                    My main language. I have skills in scripting and large experience
                    backend developing with flask. I can develop website with serverside
                    logic and even make simple design. Also i can develop telegram/discord
                    bots and have large competence in it.
                </p>
            </div>


            <div class="col-md-3 text-center">
                <i class="fa-solid fa-microchip fa-4x"></i>

                <h2>Low level</h2>

                <p>
                    Have skills in low level ARM and AVR development. Large experience
                    in AVR Tiny/Mega 8-bit MCU's and electronics. I can project and build from scratch
                    hardware project, with high performance, programmed on low level C/C++ and asm languages.
                </p>
            </div>


            <div class="col-md-3 text-center">
                <i class="fa-solid fa-server fa-4x"></i>

                <h2>Administration</h2>


                <p>
                    I can set up linux server on computer and deploy applications into docker on it.
                    Also i can write scripts to automate it and install all related software.
                    All my projects are hosted on my dedicated server which I configured myself.
                </p>
            </div>


            <div class="col-md-3 text-center">
                <i class="fa-brands  fa-java fa-4x"></i>

                <h2>Java</h2>


                <p>
                    Also i know java. I can use it to develop Android applications, mintcream modes/resource packs and
                    simple cross-platform cli programs. Of course, I am not competent in this area like in the previous
                    ones,
                    but it is also significant and worth mentioning.
                </p>
            </div>
        </div> <!-- / row -->
    </div><!-- /container -->
</section>

<!-- TIMELINE SECTION -->
<section class="section-primary" id="timelinesection">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading">
                <h2>Portfolio</h2>


                <p class="lead">Here are a few my lovely pet projects which can show my progress</p>

                <hr class="white">
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <!-- Timeline -->


                <div id="timeline">

                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <i class="fa fa-solid fa-images" style="margin-left: 12px;"></i>
                        </div>

                        <div class="timeline-content right">
                            <a href="https://github.com/lavaFrai/liveWallpaper"><h2>Live wallpaper</h2></a>

                            <img src="/media/timeline1.png">
                            <p>
                                My first serious project. Engine to render live wallpaper with some widgets
                                on python with modular renderer.
                            </p>
                        </div>
                    </div>


                    <div class="timeline-item">
                        <!--Icon inside the circle-->


                        <div class="timeline-icon">
                            <i class="fa fa-brands fa-discord" style="margin-left: 11px"></i>
                        </div>
                        <!-- Content from timeline box and position (right or left)-->


                        <div class="timeline-content left">
                            <a href="https://www.github.com/lavafrai/lava_bot_v3"><h2>Hi Utils!</h2></a>
                            <img src="/media/timeline2.png">

                            <p>
                                Discord bot, which will help you administer your server, contains many helpful utilities
                                and toys.
                                It was one of my first large projects, where I studied to organize code into many small
                                modules.
                            </p>
                        </div>
                    </div>


                    <div class="timeline-item">
                        <!--Icon inside the circle-->


                        <div class="timeline-icon">
                            <i class="fa fa-solid fa-language" style="margin-left: 11px;"></i>
                        </div>
                        <!-- Content from timeline box and position (right or left)-->


                        <div class="timeline-content right">
                            <a href="https://github.com/lavaFrai/band7-vocabulary"><h2>Band7 vocabulary</h2></a>

                            <img src="/media/timeline3.png">

                            <p>
                                The engine to render vocabularies on Mi Band 7 smart band.
                                Now it support only Russian and English words but only because it was only one enough
                                large
                                open dictionary which I found.
                            </p>
                        </div>
                    </div>


                    <div class="timeline-item">
                        <!--Icon inside the circle-->


                        <div class="timeline-icon">
                            <i class="fa fa-solid fa-clock"></i>
                        </div>
                        <!-- Content from timeline box and position (right or left)-->


                        <div class="timeline-content left">
                            <a href="https://github.com/lavaFrai/ruinacounter"><h2>Ruina Counter</h2></a>

                            <img src="/media/timeline4.png">

                            <p>
                                Simple website project to control how long time streamer has not been online.
                                Written in an one evening with my friend.
                            </p>
                        </div>
                    </div>


                    <div class="timeline-item">
                        <!--Icon inside the circle-->


                        <div class="timeline-icon">
                            <i class="fa fa-brands fa-telegram"></i>
                        </div>
                        <!-- Content from timeline box and position (right or left)-->


                        <div class="timeline-content right">
                            <a href="https://t.me/Lava_ChatGPT_bot"><h2>Sonia Ai project</h2></a>

                            <img src="/media/timeline5.png">

                            <p>
                                Long-term project of AI telegram bot with chat interface and many more auxiliary
                                functions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
    </div> <!-- / container -->
</section>

<!-- CALLBACK INFO -->
<section class="section-image" id="callback">
    <div class="img-overlay" style="opacity: 0.9"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <i class="fa-solid fa-circle-nodes fa-3x"></i>

                <h2>Callback</h2>

                <hr>

                <p class="lead">
                    And now, if you still have any questions or suggestions,
                    feel free to message to me on any of the social networks listed in the header.
                    I always will answer your questions and will be happy to meet new people.
                    <br>You will be welcome.
                </p>
            </div><!-- /col-md-6 -->
        </div><!-- / row -->
    </div><!-- /container -->
</section>

<!-- DONATION SECTION -->
<section class="section-primary" id="donation">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <i class="fa-solid fa-money-bills fa-3x"></i>

                <h2>Financial support and donations</h2>

                <hr>

                <h2 style="color: #726f77">And of course</h2>

                <p>
                    If you like my projects and want to support their development or personally me, you can make a small
                    donation using this service.
                    I try to spend the funds I receive on developing my abilities, if you want your money to go to a
                    specific project,
                    do not hesitate to write about it in the comments, and it will be fulfilled.
                </p>
                <a href="https://pay.cloudtips.ru/p/e930707c" target="_blank">
                    <div style="margin-top: 20px;" class="button">
                        Make a donation
                    </div>
                </a>
            </div><!-- /col-md-6 -->
        </div><!-- / row -->
    </div><!-- /container -->
</section>

<!-- FOOTER SECTION -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>© 2024 - lava_frai (Владимир Курдюков)<br>photos: © Владимир Курдюков</p>
            </div>


            <div class="col-md-4 text-center">
                <p>With <i class="fa fa-heart"></i> by. @lava_frai</p>
            </div>


            <div class="col-md-4">
                <div class="social-footer">
                    <a href="https://t.me/lavafrai_channel" target="_blank"><i class="fa-brands fa-telegram fa-1x"></i></a>
                    <a href="mailto:lavafrai@yandex.ru"><i class="fa-solid fa-envelope fa-1x"></i></a>
                    <a href="https://vk.com/lava_frai" target="_blank"><i class="fa-brands fa-vk fa-1x"></i></a>
                    <a href="https://discord.com/users/677933625802489889" target="_blank"><i
                            class="fa-brands fa-discord fa-1x"></i></a>
                    <a href="https://www.github.com/lavafrai" target="_blank"><i class="fa fa-github fa-1x"></i></a>

                </div> <!-- /social footer -->
            </div> <!-- /col-md-4 -->
        </div><!-- /row -->
    </div><!-- /container -->
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
</script>

<script>
    $(window).scroll(function () {
        let social_offset = document.getElementById("social-anchor").getBoundingClientRect().y + window.scrollY - 10
        console.log(social_offset, window.scrollY);

        if (window.scrollY > 0) {
            $('.mouse-icon').addClass('transparent');
        } else {
            $('.mouse-icon').removeClass('transparent');
        }

        if (window.scrollY >= social_offset) {
            $('#social-header').addClass('fixed-header');
        } else {
            $('#social-header').removeClass('fixed-header');
        }
    });

</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js">
</script>
</body>
</html>
<!--https://pay.cloudtips.ru/p/e930707c-->